@page "/"

<PageTitle>Home</PageTitle>

<div class="center-content">
    <h1>Hello, users!</h1>

    <p>Welcome to Contoso Corp Entra ID Accounts & Access Site</p>

    <h2>Actions you can perform on this site:</h2>
    <ul>
        <li>Display All Users</li>
        <li>Create User</li>
        <li>Modify User</li>
        <li>Disable User</li>
        <li>Delete User</li>
        <li>Perform Any Action</li>
    </ul>

    Welcome to your new app.
</div>

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px; /* Adjust this value as needed */
    }
</style>


