@page "/"

<PageTitle>Home</PageTitle>

<div class="center-content">
    <h1>Hello, Users!</h1>

    <p>Welcome to Technical Parrot Corp Entra ID Accounts & Access Site</p>

    <h2>Actions you can perform on this website:</h2>
    <ul>
        <li>Display All Users</li>
        <li>Create User</li>
        <li>Modify User</li>
        <li>Disable User</li>
        <li>Delete User</li>
        <li>Perform Any Action</li>
        <li>Assign License</li>
    </ul>

    <p>Please submit feedback and any new feature that you would like to see on site, we will reach out to you soon!!!</p>

    Welcome to your new app.
</div>

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px; /* Adjust this value as needed */
    }
</style>